@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@400;700");
@import url("components/card.css");
@import url("components/flex-demo.css");
@import url("components/avatar.css");
@import url("components/pill.css");
@import url("components/icon.css");

/* --- Fonts --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 0;
  background: #f4f4f4;
}

h1,
h2,
h3 {
  font-family: "Poppins", "sans-serif";
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
