<h1>Restaurants</h1>
<ul>
  <!-- Iterate over the @restaurants array, and for each restaurant, make `li` tag with name in it -->
  <% @restaurants.each do |restaurant| %>
    <li>
      <a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a>
    </li>
  <% end %>
</ul>
